@model Models.ProductoModel
@{
    ViewBag.Title = "BusquedaProductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div>
        <!--<div class="form-group input-group-sm mb-3 col-3">
            <label for="pais">Lineas de comida</label>
            <select name="pais" id="pais" class="form-control">
                <option value="mexico">Combos</option>
                <option value="espana">Postres</option>
                <option value="colombia">Ensaladas</option>
            </select>
        </div>
        <div class="form-group">
            &nbsp;&nbsp;<label for="pais">Producto</label>
            <span class="lead">#</span>
        </div>


        <div class="form-group input-group-lg mb-3 col-4">
            <label for="nombre">Contenido</label>
            <input type="text" class="form-control" placeholder="" name="nombre" id="nombre" style="height: : 1110px;">
        </div>

        &nbsp;&nbsp;   <label for="nombre">Precios</label>

        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" name="" id="" class="form-check-input mr-2">Pequeño $200
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" name="" id="" class="form-check-input mr-2">Mediano $600
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" name="" id="" class="form-check-input mr-2">Grande $1200
            </label>
        </div>


        <div class="form-group input-group-sm mb-3 col-2 pt-4">
            <label for="nombre">Cantidad</label>
            <input type="text" class="form-control" placeholder="" name="nombre" id="nombre" style="height: : 1110px;">
        </div>

        <div class="input-group input-group-sm mb-3 justify-content-center pt-5">
            <button type="button" class="btn btn-outline-info rounded-bottom" style="border-radius: 12px">Agregar</button>
        </div>-->
        <div class="row justify-content-center bg-secondary mt-3 mb-3" style="border-radius: 20px">
            <div class="col-8">
                <h1 class="lead text text-white text-center" style="font-size: 60px">Productos</h1>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col">
                <table class="table table-light table-sm table-hover table-bordered table-responsive-lg" >
                    <thead class="text-info">
                        <tr>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Opción de comida</th>
                            <th>Contenido</th>
                            <th>Imagen</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    @*            Inicia la carga de datos en la tabla             *@
                    <tbody class="text-dark">
                        @{
                            string btnEditar = string.Empty;
                            string nombreModal = string.Empty;
                            foreach (var item in @ViewBag.listaProd)
                            {
                                btnEditar = "btnEditar_" + item.ProductCode;
                                nombreModal = "fm-btn-modal_" + item.ProductCode;
                        <tr>
                            <td>
                                @item.ProductCode
                            </td>
                            <td>
                                @item.ProductDescription
                            </td>
                            <td>
                                @item.FoodOptionCode
                            </td>
                            <td>
                                @item.ProductContent
                            </td>

                            @if (!string.IsNullOrEmpty(item.ProductImage))
                            {
                                string productImage = item.ProductImage; 
                                var imagePath = @"http://localhost:51201/" + productImage.Replace("~/", string.Empty);
                                <td>

                                    <img class="rounded-circle" src="@Url.Content(imagePath)" style="width: 40px; height: 40px;" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <p>Imagen no disponible</p>
                                </td>
                            }

                            <td>
                                <div class="btn-group btn-group-sm">
                                    @using (Html.BeginForm("BusquedaProductosAgregarCarrito", "BusquedaProductos"))
                                    {
                                        string valor = btnEditar.Split('_')[1];
                                        @Html.HiddenFor(Model => Model.ProductCode, new { Value = valor })
                                        <button class="btn btn-sm btn-success btn-outline-danger text-sm-center" style="border-radius: 8px" type="submit">Agregar</button>
                                    }
                                </div>

                            </td>
                        </tr>
                            }

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.Raw(TempData["msg"])
