model EFOOD.Models.Admin
@{
    ViewBag.Title = "AisgnarRol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="container pt-5">

    <div class="row pt-5 justify-content-center "></div>
    <div class="row pt-3 justify-content-center bg-info" style="border-radius: 20px">
        <div class="col-5">
            <h1 class="lead text text-white text-center">Asignar role</h1>
        </div>
    </div>

    <div class="row pt-5 justify-content-center">

        @using (Html.BeginForm("AsignarRol", "Usuario", new { id = @ViewBag.ContrasenaConfirma }, FormMethod.Post, null))
        {
            List<AdministracionVuelos.Models.Administrador> listaUsuarios =
               AdministracionVuelos.Models.Administrador.ObtenerConsumidores();
            if (listaUsuarios != null)
            {
                if (listaUsuarios.Count > 0)
                {
                    <div class="form-group">
                        <label for="SelectorUsuario" class="text-info">Lista de usuarios</label>
                        <select multiple class="form-control" id="SelectorUsuario" name="SelectorUsuario">
                            @foreach (AdministracionVuelos.Models.Administrador item in listaUsuarios)
                            {
                                <option name="CodUsuario"
                                        id="CodUsuario-@item.CodUsuario"
                                        value="@item.CodUsuario"
                                        onclick="selectedUser(@item.codRol)">
                                    @item.Nombre
                                </option>
                            }
                        </select>
                    </div>
                }
            }

            List<AdministracionVuelos.Models.TipoConsumidor> listaRoles =
                AdministracionVuelos.Models.TipoConsumidor.ObtenerTipoDeConsumidores();

            if (listaRoles != null)
            {
                if (listaRoles.Count > 0)
                {
                    <fieldset class="form-group">
                        <label for="optionscheckbox1" class="text-info">Lista de roles</label>
                        <div>
                            @foreach (AdministracionVuelos.Models.TipoConsumidor item in listaRoles)
                            {
                                <input type="radio"
                                       class="form-check-input"
                                       name="CodRole"
                                       id="CodRole-@item.CodRol"
                                       value="@item.CodRol">

                                <label for="CodRole-@item.CodRol">@item.DescriptionRol</label>
                                <br />
                            }
                        </div>
                    </fieldset>
                }
            }

            <!-- Guardar boton -->
            <div class="input-group input-group-sm mb-3 justify-content-center pt-5">
                <button type="submit" id="asignarRol" name="asignarRol" value="asignarRol" class="btn btn-outline-info rounded-bottom" style="border-radius: 12px">Asignar Rol</button>
            </div>

            <!--====  End of inputs  ====-->
        }

    </div>
    @Html.Raw(TempData["msg"])
</main>
<script>
    function selectedUser(codRol) {

        if (codRol != null) {
            document.getElementById("CodRole-" + codRol).checked = true;
            document.getElementById("RolSeleccionado").value = codRol;
        }
    }
</script>

