@model Models.ConsecutivoModel

@{
    ViewBag.Title = "Consecutivo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string txtConsecutivoResult = string.Empty;
}


<main class="container pt-5" role="main">
    <div class="row pt-5 justify-content-center ">
    </div>
    <div class="row pt-3 justify-content-center bg-secondary" style="border-radius: 20px">
        <div class="col-8">
            <h1 class="lead text text-white text-center" style="font-size: 60px">
                Gestión de consecutivos
            </h1>
        </div>
    </div>


    <div class="row pt-1 justify-content-center">
        <div class="col-4">
            <!--=====================================
            =            Inicio inputs              =
            ======================================-->

            @using (Html.BeginForm("ConsecutivoAdd", "Consecutivo"))
            {
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "Precios",
                    Value = "Precios"
                });

                listItems.Add(new SelectListItem
                {
                    Text = "Líneas de comida",
                    Value = "Líneas de comida"
                });

                listItems.Add(new SelectListItem
                {
                    Text = "Tarjetas",
                    Value = "Tarjetas",
                    Selected = true
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Medios de pago",
                    Value = "Medios de pago"
                });

                listItems.Add(new SelectListItem
                {
                    Text = "Descuentos",
                    Value = "Descuentos"
                });

                listItems.Add(new SelectListItem
                {
                    Text = "Bitacoras",
                    Value = "Bitacoras"
                });

                listItems.Add(new SelectListItem
                {
                    Text = "Comidas",
                    Value = "Comidas"
                });

                listItems.Add(new SelectListItem
                {
                    Text = "Productos",
                    Value = "Productos"
                });


                <!-- Descripcion -->
                <div class="input-group input-group-sm mb-3 pt-4">
                    @Html.DropDownListFor(model => model.Description, listItems, "-- Seleciona descripcion --", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                    <div class="input-group-append">
                        <span class="input-group-text text-info">
                            Descripción
                        </span>
                    </div>
                </div>

                <!-- Consecutivo -->
                <div class="input-group input-group-sm mb-3">
                    @Html.EditorFor(x => x.CurrentConsecutive)
                    <div class="input-group-append">
                        <span class="input-group-text text-info">
                            Consecutivo
                        </span>
                    </div>
                </div>
                <!-- Confirma -->
                <div class="input-group input-group-sm mb-3">
                    <label class="form-group list-group">
                        @Html.CheckBoxFor(x => x.HasPrefix)
                        Si
                    </label>
                    <div class="input-group-append">
                        <span class="input-group-text text-info">
                            Posee prefijo
                        </span>
                    </div>
                </div>
                <!-- Correo -->
                <div class="input-group input-group-sm mb-3">
                    @Html.EditorFor(x => x.Prefix)
                    <div class="input-group-append">
                        <span class="input-group-text text-info">
                            Prefijo
                        </span>
                    </div>
                </div>
                <!-- Guardar boton -->
                <div class="input-group input-group-sm mb-3 justify-content-center pt-3">
                    <button class="btn btn-outline-info rounded-bottom" style="border-radius: 12px" type="submit">
                        Guardar
                    </button>

                </div>
            }

            <!--====  End of inputs  ====-->

        </div>
    </div>
    <div class="row pt-1">
        <div class="col">
            <table class="table table-sm table-hover table-bordered table-responsive-lg">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Consecutivo actual</th>
                        <th>Prefijo</th>
                    </tr>
                </thead>
                @*            Inicia la carga de datos en la tabla             *@
                <tbody>
                    @{
                        foreach (var item in ViewBag.lista)
                        {
                            <tr>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.CurrentConsecutive
                                </td>
                                <td>
                                    @item.Prefix
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
</main>
