@model EFOOD.Models.LineaComidaModel


@{
    ViewBag.Title = "LineaComida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="container pt-5">


    <div class="row pt-5 justify-content-center "></div>
    <div class="row pt-3 justify-content-center bg-secondary" style="border-radius: 20px">
        <div class="col-5">
            <h1 class="lead text text-white text-center">Gestión de Linea de Producto</h1>
        </div>
    </div>




    @*            Cuerpo de edicion inicia aca, template             *@

    <div class="row justify-content-center pt-5">
        <button type="button" class="btn btn-outline-primary rounded-bottom" style="border-radius: 12px" data-toggle="modal" data-target="#fm-modal">Agregar Tipo de Precio</button>

    </div>
    <div class="input-group input-group-sm mb-3 justify-content-center pt-1">
        <div class="modal fade" id="fm-modal" tabindex="-1" role="dialog" aria-labelledby="fm-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-secondary">
                        <h5 class="modal-title text-white text-center" id="">Agregar</h5>
                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("LineaComidaAdd", "Administracion"))
                        {
                            <div class="input-group">
                                <label>Linea de comida&nbsp;&nbsp;</label>
                                @Html.EditorFor(Model => Model.FoodOptionDescription, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                            <br />
                            <div class="row justify-content-center">
                                <input class="btn btn-sm btn-secondary" type="submit" value="Guardar" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row pt-1">
        <div class="col">
            <table class="table table-sm table-hover table-bordered table-responsive-lg">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                @*            Inicia la carga de datos en la tabla             *@
                <tbody>
                    @{
                        string btnEditar = string.Empty;
                        string nombreModal = string.Empty;
                        foreach (var item in ViewBag.listaLineaComida)
                        {
                            btnEditar = "btnEditar_" + item.FoodOptionCode;
                            nombreModal = "fm-btn-modal_" + item.FoodOptionDescription;
                            <tr>
                                <td>
                                    @item.FoodOptionCode
                                </td>
                                <td>
                                    @item.FoodOptionDescription
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-sm btn-success btn-outline-secondary rounded-bottom text-sm-center" style="border-radius: 8px" id="@btnEditar" data-toggle="modal" data-target="#@nombreModal">Editar</button>
                                        <div class="modal fade" id="@nombreModal" tabindex="-1" role="dialog" aria-labelledby="fm-modal2" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-secondary">
                                                        <h5 class="modal-title text-white text-center" id="">Editar   @btnEditar.Split('_')[1]</h5>
                                                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        @using (Html.BeginForm("LineaComidaEdit", "Administracion", new { id = "" }))
                                                        {

                                                            <div>

                                                                <label>Nueva linea de comida </label>
                                                                @Html.HiddenFor(Model => Model.FoodOptionCode, new { Value = btnEditar.Split('_')[1] })
                                                                @Html.EditorFor(Model => Model.FoodOptionDescription, new { htmlAttributes = new { @class = "form-control", @type = "text" } })

                                                                <br />

                                                                <input class="btn btn-sm btn-secondary" type="submit" value="Guardar" />
                                                            </div>

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @using (Html.BeginForm("LineaComidaDelete", "Administracion"))
                                        {
                                            string valor = btnEditar.Split('_')[1];

                                            @Html.HiddenFor(Model => Model.FoodOptionCode, new { Value = valor })

                                            <button class="btn btn-sm btn-success btn-outline-danger text-sm-center" style="border-radius: 8px" type="submit">Eliminar</button>


                                        }

                                    </div>

                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
    @*            Cuerpo de edicion finaliza aca, template             *@
</main>
