@model Models.ProductoModel


@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="container pt-5">


    <div class="row pt-5 justify-content-center "></div>
    <div class="row pt-3 justify-content-center bg-secondary" style="border-radius: 20px">
        <div class="col-8">
            <h1 class="lead text text-white text-center" style="font-size: 60px">Gestión de Productos</h1>
        </div>
    </div>




    @*            Cuerpo de edicion inicia aca, template             *@

    <div class="row justify-content-center pt-5">
        <button type="button" class="btn btn-outline-primary rounded-bottom" style="border-radius: 12px" data-toggle="modal" data-target="#fm-modal">Agregar producto nuevo</button>

    </div>
    <div class="input-group input-group-sm mb-3 justify-content-center pt-1">
        <div class="modal fade" id="fm-modal" tabindex="-1" role="dialog" aria-labelledby="fm-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-secondary">
                        <h5 class="modal-title text-white text-center" id="">Agregar</h5>
                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("ProductoAdd", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="input-group">
                                <div class="col-8 col-6-xsmall">
                                    <label>Descripción del producto&nbsp;&nbsp;</label><br />
                                    @Html.EditorFor(Model => Model.ProductDescription, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>


                            List<SelectListItem>
                                 listItems = new List<SelectListItem>();

                            foreach (var item in ViewBag.ListaFoodOption)
                            {

                                listItems.Add(new SelectListItem
                                {
                                    Text = item.FoodOptionDescription,
                                    Value = item.FoodOptionCode
                                });
                            }
                            <!-- Descripcion -->
                            <div class="input-group input-group-sm mb-1 pt-4">
                                <div class="col-8 col-6-xsmall">
                                    <label>Linea de comida&nbsp;&nbsp;</label>
                                    @Html.DropDownListFor(model => model.FoodOptionCode, listItems, "-- Seleciona descripcion --", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>

                            <div class="input-group input-group-sm mb-1 pt-4">
                                <div class="col-8 col-6-xsmall">
                                    <label>Linea de comida&nbsp;&nbsp;</label>
                                    @Html.DropDownListFor(model => model.FoodOptionCode, listItems, "-- Seleciona descripcion --", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>

                            <div class="input-group input-group-sm mb-1 pt-4">
                                <div class="col-8 col-6-xsmall">
                                    <label>Linea de comida&nbsp;&nbsp;</label>
                                    @Html.DropDownListFor(model => model.FoodOptionCode, listItems, "-- Seleciona descripcion --", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>

                            <div class="input-group input-group-sm mb-1 pt-4">
                                <div class="col-8 col-6-xsmall">
                                    <label>Linea de comida&nbsp;&nbsp;</label>
                                    @Html.DropDownListFor(model => model.FoodOptionCode, listItems, "-- Seleciona descripcion --", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>

                            <div class="input-group input-group-sm mb-1 pt-4">
                                <div class="col-8 col-6-xsmall">
                                    <label>Contenido&nbsp;&nbsp;</label>
                                    @Html.EditorFor(Model => Model.ProductContent, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>
                            <div class="input-group input-group-sm mb-1 pt-4">
                                <div class="col-8 col-6-xsmall">
                                    <label>Imagen&nbsp;&nbsp;</label>
                                    @Html.TextBoxFor(Model => Model.Archivo, new { @type = "file" })
                                </div>
                            </div>
                            <br />
                            <div class="row justify-content-center">
                                <input class="btn btn-sm btn-secondary" type="submit" value="Guardar" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row pt-1">
        <div class="col">
            <table class="table table-sm table-hover table-bordered table-responsive-lg">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripción</th>
                        <th>Opción de comida</th>
                        <th>Contenido</th>
                        <th>Imagen</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                @*            Inicia la carga de datos en la tabla             *@
                <tbody>
                    @{
                        string btnEditar = string.Empty;
                        string nombreModal = string.Empty;
                        foreach (var item in @ViewBag.lista)
                        {
                            btnEditar = "btnEditar_" + item.ProductCode;
                            nombreModal = "fm-btn-modal_" + item.ProductCode;
                    <tr>
                        <td>
                            @item.ProductCode
                        </td>
                        <td>
                            @item.ProductDescription
                        </td>
                        <td>
                            @item.FoodOptionCode
                        </td>
                        <td>
                            @item.ProductContent
                        </td>

                        @if (!string.IsNullOrEmpty(item.ProductImage))
                        {


                            <td>
                                <img class="rounded-circle" src="@Url.Content(item.ProductImage)" style="width: 40px; height: 40px;" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <p>Imagen no disponible</p>
                            </td>
                        }

                        <td>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-success btn-outline-secondary rounded-bottom text-sm-center" style="border-radius: 8px" id="@btnEditar" data-toggle="modal" data-target="#@nombreModal">Editar</button>
                                <div class="modal fade" id="@nombreModal" tabindex="-1" role="dialog" aria-labelledby="fm-modal2" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-secondary">
                                                <h5 class="modal-title text-white text-center" id="">Editar   @btnEditar.Split('_')[1]</h5>
                                                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                @using (Html.BeginForm("ProductoEdit", "Administracion", new { id = "" }))
                                                {
                                                    List<SelectListItem> tiposDeProducto = new List<SelectListItem>();

                                                    foreach (var tipoProducto in ViewBag.ListaFoodOption)
                                                    {

                                                        tiposDeProducto.Add(new SelectListItem
                                                        {
                                                            Text = tipoProducto.FoodOptionDescription,
                                                            Value = tipoProducto.FoodOptionDescription
                                                        });
                                                    }
                                                    @Html.HiddenFor(Model => Model.ProductCode, new { Value = btnEditar.Split('_')[1] })

                                                    <div class="input-group">
                                                        <div class="col-8 col-6-xsmall">
                                                            <label>Descripción del producto&nbsp;&nbsp;</label><br />
                                                            @Html.EditorFor(Model => Model.ProductDescription, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="input-group">
                                                        <div class="col-8 col-6-xsmall">
                                                            <label>Opción de comida</label>
                                                            @Html.DropDownListFor(model => model.FoodOptionCode, tiposDeProducto, "-- Seleciona descripcion --", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                            @*@Html.EditorFor(Model => Model.FoodOptionCode, new { htmlAttributes = new { @class = "form-control", @type = "text" } })*@
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="input-group">
                                                        <div class="col-8 col-6-xsmall">
                                                            <label>Contenido</label>
                                                            @Html.EditorFor(Model => Model.ProductContent, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="input-group">
                                                        <div class="col-8 col-6-xsmall">
                                                            <input class="btn btn-sm btn-secondary" type="submit" value="Guardar" />
                                                        </div>
                                                    </div>

                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @using (Html.BeginForm("ProductoDelete", "Administracion"))
                                {
                                    string valor = btnEditar.Split('_')[1];

                                    @Html.HiddenFor(Model => Model.ProductCode, new { Value = valor })

                                    <button class="btn btn-sm btn-success btn-outline-danger text-sm-center" style="border-radius: 8px" type="submit">Eliminar</button>


                                }

                            </div>

                        </td>
                    </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
    @*            Cuerpo de edicion finaliza aca, template             *@
</main>