@model Models.TiqueteDescuentoModel

@{
    ViewBag.Title = "TiqueteDescuento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*            Cuerpo de edicion inicia aca, template             *@
<main role="main" class="container pt-5">
    <div class="row pt-5 justify-content-center "></div>
    <div class="row pt-3 justify-content-center bg-secondary" style="border-radius: 20px">
        <div class="col-5">
            <h1 class="lead text text-white text-center">Gestión de tiquetes de descuento</h1>
        </div>
    </div>

    <div class="row justify-content-center pt-5">
        <button type="button" class="btn btn-outline-primary rounded-bottom" style="border-radius: 12px" data-toggle="modal" data-target="#fm-modal">Agregar tiquetes de descuento</button>

    </div>
    <div class="input-group input-group-sm mb-3 justify-content-center pt-1">
        <div class="modal fade" id="fm-modal" tabindex="-1" role="dialog" aria-labelledby="fm-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-secondary">
                        <h5 class="modal-title text-white text-center" id="">Agregar</h5>
                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("TiqueteDescuentoAdd", "Administracion"))
                        {
                            <div class="input-group">
                                <div class="col-8 col-6-xsmall">
                                    <label>Descripción&nbsp;&nbsp;</label>
                                    @Html.EditorFor(Model => Model.TicketDescription, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="col-8 col-6-xsmall">
                                    <label>Porcentaje de descuento&nbsp;&nbsp;</label>
                                    @Html.EditorFor(Model => Model.TicketDiscountPercentage, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="col-8 col-6-xsmall">
                                    <label>Tiquetes disponibles&nbsp;&nbsp;</label> <br />
                                    @Html.EditorFor(Model => Model.RemainingTickets, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>
                            <br />
                            <div class="row justify-content-center">
                                <input class="btn btn-sm btn-secondary" type="submit" value="Guardar" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row pt-1">
        <div class="col">
            <table class="table table-sm table-hover table-bordered table-responsive-lg">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Porcentaje de descuento</th>
                        <th>Tiquetes restantes</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                @*            Inicia la carga de datos en la tabla             *@
                <tbody>
                    @{
                        string btnEditar = string.Empty;
                        string nombreModal = string.Empty;
                        foreach (var item in @ViewBag.lista)
                        {
                            btnEditar = "btnEditar_" + item.TicketCode;
                            nombreModal = "fm-btn-modal_" + item.TicketDescription;
                            <tr>
                                <td>
                                    @item.TicketCode
                                </td>
                                <td>
                                    @item.TicketDescription
                                </td>
                                <td>
                                    @item.TicketDiscountPercentage
                                </td>
                                <td>
                                    @item.RemainingTickets
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-sm btn-success btn-outline-secondary rounded-bottom text-sm-center" style="border-radius: 8px" id="@btnEditar" data-toggle="modal" data-target="#@nombreModal">Editar</button>
                                        <div class="modal fade" id="@nombreModal" tabindex="-1" role="dialog" aria-labelledby="fm-modal2" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-secondary">
                                                        <h5 class="modal-title text-white text-center" id="">Editar   @btnEditar.Split('_')[1]</h5>
                                                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        @using (Html.BeginForm("TiqueteDescuentoEdit", "Administracion", new { id = "" }))
                                                        {
                                                        <div>
                                                            @Html.HiddenFor(Model => Model.TicketCode, new { Value = btnEditar.Split('_')[1] })
                                                            <div class="input-group">
                                                                <div class="col-8 col-6-xsmall">
                                                                    <label>Descripción&nbsp;&nbsp;</label>
                                                                    @Html.EditorFor(Model => Model.TicketDescription, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                                </div>
                                                            </div>
                                                            <div class="input-group">
                                                                <div class="col-8 col-6-xsmall">
                                                                    <label>Porcentaje de descuento&nbsp;&nbsp;</label>
                                                                    @Html.EditorFor(Model => Model.TicketDiscountPercentage, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                                </div>
                                                            </div>
                                                            <div class="input-group">
                                                                <div class="col-8 col-6-xsmall">
                                                                    <label>Tiquetes disponibles&nbsp;&nbsp;</label> <br />
                                                                    @Html.EditorFor(Model => Model.RemainingTickets, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                                </div>
                                                            </div>
                                                            <br />

                                                            <input class="btn btn-sm btn-secondary" type="submit" value="Guardar" />
                                                        </div>

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @using (Html.BeginForm("TiqueteDescuentoDelete", "Administracion"))
                                        {
                                            string valor = btnEditar.Split('_')[1];

                                            @Html.HiddenFor(Model => Model.TicketCode, new { Value = valor })

                                            <button class="btn btn-sm btn-success btn-outline-danger text-sm-center" style="border-radius: 8px" type="submit">Eliminar</button>


                                        }

                                    </div>

                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
    @*            Cuerpo de edicion finaliza aca, template             *@
</main>