<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="~/Content/nivo-lightbox/default.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @{

        Models.Admin usuario =
        (Models.Admin)System.Web.HttpContext.Current.Session["Usuario"];
    }
</head>
<body>

    <!--=======================================
    =            NAV opciones Menu            =
    ========================================-->

    <header id="header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <a class="navbar-brand" href="Inicio.html">Sistema de comidas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">

                    @{
                        switch (usuario.RoleID)
                        {

                            case 1:

                                <!-- Opcion Inicio -->
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action( "Index", "Home")">Inicio <span class="sr-only">(current)</span></a>
                                </li>

                                <!-- Opcion Seguridad -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="menuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seguridad</a>
                                    <div class="dropdown-menu" aria-labelledby="menuDrop">
                                        <a href="@Url.Action( "Usuario", "Seguridad")" class="dropdown-item">Usuarios</a>
                                        <a href="@Url.Action( "AsignarRol", "Seguridad")" class="dropdown-item">Asignar rol</a>
                                        <a href="@Url.Action( "CambiarContrasena", "Seguridad")" class="dropdown-item">Cambiar contraseña</a>
                                    </div>
                                </li>

                                <!-- Opcion Administración -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="menuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administración</a>
                                    <div class="dropdown-menu" aria-labelledby="menuDrop">
                                        <a href="@Url.Action( "Consecutivo", "Administracion")" class="dropdown-item">Consecutivos</a>
                                        <a href="@Url.Action( "TipoPrecio", "Administracion")" class="dropdown-item">Tipos de precio</a>
                                        <a href="@Url.Action( "TarjetaCreditoDebito", "Administracion")" class="dropdown-item">Tarjetas de crédito y débito</a>
                                        <a href="@Url.Action( "MediosPago", "Administracion")" class="dropdown-item">Medios de pago</a>
                                        <a href="@Url.Action( "TiqueteDescuento", "Administracion")" class="dropdown-item">Tiquetes de descuento</a>
                                        <a href="@Url.Action( "LineaComida", "Administracion")" class="dropdown-item">Líneas de comida</a>
                                        <a href="@Url.Action( "Producto", "Administracion")" class="dropdown-item">Productos</a>
                                    </div>
                                </li>
                                <!-- Opcion Consultas -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="menuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultas</a>
                                    <div class="dropdown-menu" aria-labelledby="menuDrop">
                                        <a href="@Url.Action( "Pedidos", "Consultas")" class="dropdown-item">Pedidos</a>
                                        <a href="@Url.Action( "Productos", "Consultas")" class="dropdown-item">Productos</a>
                                        <a href="@Url.Action( "Bitacora", "Consultas")" class="dropdown-item">Bitácora</a>
                                        <a href="@Url.Action( "Errores", "Consultas")" class="dropdown-item">Errores</a>
                                    </div>
                                </li>
                                break;


                            case 2:
                                <!-- Opcion Seguridad -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="menuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seguridad</a>
                                    <div class="dropdown-menu" aria-labelledby="menuDrop">
                                        <a href="@Url.Action( "Usuario", "Seguridad")" class="dropdown-item">Usuarios</a>
                                        <a href="@Url.Action( "AsignarRol", "Seguridad")" class="dropdown-item">Asignar rol</a>
                                        <a href="@Url.Action( "CambiarContrasena", "Seguridad")" class="dropdown-item">Cambiar contraseña</a>
                                    </div>
                                </li>
                                break;


                            case 3:
                                <!-- Opcion Administración -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="menuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administración</a>
                                    <div class="dropdown-menu" aria-labelledby="menuDrop">
                                        <a href="@Url.Action( "Consecutivo", "Administracion")" class="dropdown-item">Consecutivos</a>
                                        <a href="@Url.Action( "TipoPrecio", "Administracion")" class="dropdown-item">Tipos de precio</a>
                                        <a href="@Url.Action( "TarjetaCreditoDebito", "Administracion")" class="dropdown-item">Tarjetas de crédito y débito</a>
                                        <a href="@Url.Action( "MediosPago", "Administracion")" class="dropdown-item">Medios de pago</a>
                                        <a href="@Url.Action( "TiqueteDescuento", "Administracion")" class="dropdown-item">Tiquetes de descuento</a>
                                        <a href="@Url.Action( "LineaComida", "Administracion")" class="dropdown-item">Líneas de comida</a>
                                        <a href="@Url.Action( "Producto", "Administracion")" class="dropdown-item">Productos</a>
                                    </div>
                                </li>
                                break;


                            case 4:
                                <!-- Opcion Consultas -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="menuDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultas</a>
                                    <div class="dropdown-menu" aria-labelledby="menuDrop">
                                        <a href="@Url.Action( "Pedidos", "Consultas")" class="dropdown-item">Pedidos</a>
                                        <a href="@Url.Action( "Productos", "Consultas")" class="dropdown-item">Productos</a>
                                        <a href="@Url.Action( "Bitacora", "Consultas")" class="dropdown-item">Bitácora</a>
                                        <a href="@Url.Action( "Errores", "Consultas")" class="dropdown-item">Errores</a>
                                    </div>
                                </li>
                                break;
                        }

                    }
                </ul>


            </div>

            <a href="@Url.Action("LogOut", "Login")">
                <input type="button" height="30px" width="30px" value="Log Out">
            </a>

        </nav>
    </header>
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="container body-content" style="background-color: white;">
                        @RenderBody()
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<footer class="footer bg-dark">
    <div id="google_translate_element" style="text-align: center"></div>
    <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'es', includedLanguages: 'de,en,es,it', autoDisplay: false }, 'google_translate_element');
            }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</footer>
</html>
